:root {
  --fonte-geral:'Bubblegum Sans', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  background: #42445A;
  width: 100%;
 }

.logo {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 30px;
  background: red;
  font-family: var(--fonte-geral);
  width: 50vh;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin: 20px;
  font-family: var(--fonte-geral);
  padding: 10px;
  background-color: aqua;
  border: 2px solid #8186C6;
  border-radius: 10px;
  width: 285px;
}

.links>li {
  padding-left: 20px;
}

.links>li:hover {
  color: #7058CF
}
